*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/.idea/
/dex/proguard-rules.pro
/gradle/
/gradle.properties
/gradlew
/gradlew.bat
/app/src/main/assets/dex-debug1.apk
/app/src/main/assets/dex-debug2.apk
